.button {
   width: 117px;
   height: 42px;
   background: #FFFFFF;
   border-radius: 6px;
   &_second {
      background: #52503B;
      a {
         font-weight: 400;
         font-size: 14px;
         color: #FFFFFF;
      }
   }
   &_contact{
      background: #52503B;
      margin-left: 18px;
      width: 116px;
      height: 52px;
      border: 4px solid white;
      border-radius: 16px; 
   }
   &:hover{
      background-color: #fff;
      border: 4px solid #52503B;
      border-radius: 8px;
      a {
         font-weight: 400;
         font-size: 16px;
         line-height: 20px;
         text-align: center;
         color: #52503B;
      }
   }
}
