.contact {
   padding: 100px 0 100px 0;
   background: #FAF8F0;
   &__title {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      width: 427px;
      font-weight: 400;
      font-size: 32px;
      color: #52503B;
   }
   &__descr {
      margin: 0 auto;
      margin-top: 14px;
      width: 410px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #52503B;
   }
   &__wrapper {
      margin-top: 18px;
      display: flex;
      justify-content: center;
   }
   &__link {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;   
   }
}