.sleeping {
   padding: 100px 138px 99px 136px;
   &__title {
      margin-top: 30px;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      color: #52503B;
   }
   &__descr {
      margin: 0 auto;
      margin-top: 14px;
      width: 554px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #52503B;
   }
   &__wrapper {
      display: flex;
      justify-content:center;
   }
   &__wrapper-ico {
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
         display: block;
         margin: 0 auto ;
         margin-top: 30px;
      }
   }
   &__wrapper-descr {
      margin-top: 12px;
      width: 346px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #52503B;
      span {
         line-height: 20px;
         font-size: 16px;
      }
   }
}